<div class="headerContainer">
    <div class="contain">
        <div class="contain-1">
            <h1 class="title">AnimeWiki</h1>
        </div>
        <div class="contain-2">
            <nav class="navBar">
                <ul class="barOptions">
                    <li routerLinkActive="active" routerLink="" class="option">Inicio</li>
                    <li routerLinkActive="active" routerLink="Animes" class="option">Animes</li>
                    <li routerLinkActive="active" routerLink="Mangas" class="option">Mangas</li>
                    <li routerLinkActive="active" routerLink="Personajes" class="option">Personajes</li>
                    <li routerLinkActive="active" routerLink="Capitulos" class="option">Capitulos</li>
                </ul>
            </nav>
        </div>
    </div>

</div>